<form class="search-form" action="#">
    <input type="search" id="search" name="q" placeholder="Search.....">
    <button class="search-button" type="button" onclick="handleClick()">Search</button>
</form>

<div class="top-rectangle">
    <div class="logo-area">
        <img class="logo" src="../Images/Orion.png" alt="Artemis Logo" style="margin-top: -10px; margin-left: -35px;">
        <p>Artemis</p>
    </div>
</div>

<div class="post-box">
    <h2>Post Your Message</h2>
    <textarea id="message" placeholder="What's on your mind User..."></textarea>
    <button id="post-button" type="button" onclick="handlePost()">Post</button> 
</div>
