{{#if input}}
<div class="post-box">
    <h2>Post Your Message</h2>
    <textarea id="message" placeholder="What's on your mind User..."></textarea>
    <button id="post-button" type="button" onclick="handlePost()">Post</button> 
</div>
{{/if}}