<div class="additional-buttons">
        <div class="horizontal-buttons">
            <a href="../html/profile.html"><img src="../images/user-profile.png" alt="User Icon" class="round-image"></a>
            <div class="username">micoangelo</div>
            <div class="button-container">
            <a href="../html/editprofile.html"> <button onclick="handleEdit()">Edit</button></a>
            <a href="../html/Login.html"><button onclick="handleLogout()">Log out</button></a>
        </div>
    </div>


<div class="vertical-buttons">
    <div class="vertical-button">
        <a href="../html/friends.html"><button onclick="handleFriends()">Friends</button></a>
    </div>
    <div class="vertical-button">
        <a href="../html/Settings.html"><button onclick="handleSettings()">Settings</button></a>
    </div>
</div>