 <link href="./css/editpost.css" rel="stylesheet" />
    <div class="header">
            <strong>Artemis</strong>
    </div>

    <div class="sidebar-area">
        <div class="sidebar-profile">
            <img src="../images/user-profile.png" alt="User Icon">
            <p class="sidebar-username">micoangelo</p>
        </div>

        <button class="sidebar-setting">Edit</button>
        <button class="sidebar-setting">Log out</button>

        <button class="sidebar-navigation">Friends</button>
        <button class="sidebar-navigation">Settings</button>
        <button class="sidebar-navigation">Home</button>
    </div>

    <div class="main-content">
        <div class="cover-photo">
            <div class="profile-photo">
                <img src="../images/user-profile.png" alt="User Icon">
            </div>
            <p class="username-below">micoangelo</p>
        </div>

        <div class="nav-container">
            <div class="nav-button">Create Post</div>
            <div class="nav-button">Posts</div>
            <div class="nav-button">Comments</div>
        </div>

        <div class="post-container">
            <div class="post-header">
                <img src="../images/user-profile.png" alt="User Icon">
                <p>micoangelo</p>
            </div>
            <div class="post-content">
                <p class="post-caption" contenteditable="true">This is me in this world, full of individuals in their own path to victory. If you're reading this well, please know that I am too sleepy to understand you, okay :)</p>
                <p class="post-date">Posted on: 28/05/2010</p>
            </div>
            <div class="buttons-container">
                <button class="thumbs-up-button" type="button" name="like">
                   
                </button>
                <a href='/profile'><button class="edit-post-button" type="button">Update</button></a>
            </div>
        </div>
    </div>

    <div class="bottom-rectangle"></div>