<link rel="stylesheet" href="../css/friends.css">
    <div class="header">
        <h1>Friend List</h1>
    </div>
    
<div class="innerBody">
    <div class="sidePanel">
        <div class="buttons">
            <a href='/'><button>Home</button></a>
        </div>
        <div class="buttons">
            <a href='/Settings'><button>Settings</button></a>
        </div>
        <div class="buttons">
            <a href='/'><button>Logout</button></a>
        </div>
    </div>
    
    <div class="friendList">
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://cdn.pixabay.com/photo/2024/03/07/10/38/simba-8618301_1280.jpg">
                <h2>Jack Micheals</h2>
            </table>
                
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://media.istockphoto.com/id/1362587939/photo/athletic-muscular-young-guy-smiling-and-looking-at-the-camera-after-training-on-outdoor-gym.jpg?s=612x612&w=0&k=20&c=lIVxd15ny28sS0PJrKQyE_gBV7_JMx1JNRUVpl4ILGY=">
                <h2>Echo Smith</h2>
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://media.istockphoto.com/id/512401036/photo/beautiful-gay-in-white-t-shirt-posing-against-grunge-background.jpg?s=1024x1024&w=is&k=20&c=ZlNqHRhn3ucSDUaKdU9v0el6IEC70KbISsdeTq3YOww=">
                <h2>Yazan Bazan</h2>
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://cdn.pixabay.com/photo/2020/12/16/04/15/man-5835659_1280.jpg">
                <h2>Justin Buster</h2>
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://cdn.pixabay.com/photo/2023/12/07/11/04/girl-8435329_960_720.png">
                <h2>Emmy Remmy</h2>
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://media.istockphoto.com/id/1495319130/vector/vector-graphics-girl-angel-angel-cute-angel-gentle-color-palette-pastel-colors.jpg?s=612x612&w=0&k=20&c=es8957K0QAcS_ulbO4FhMo77MHSA38gRRaKXbiEnHWo=">
                <h2>Micheal Smith</h2>
            </div>
        </div>
        <div class="friendBorder">
            <div class="innerFriendBorder">
                <img src="https://cdn.pixabay.com/photo/2023/10/20/19/25/moon-8330104_1280.png">
                <h2>Jayden Richard</h2>
            </div>
        </div>
    </div>


    <div class="activeNow">
        <h2>Active Now</h2>
        <p>Jack Micheals</p>
        <p>Echo Smith</p>
        <p>Yazan Bazan</p>
    </div>
</div>