<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/feed.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>{{title}}</title>
</head>
{{{body}}}
</html>
